.border-length {
    position: relative; /* Adjust width as needed */
}

.border-length::after {
    content: "";
    position: absolute;
    bottom: 0px; /* Moves the border 10px down from bottom */
    left: -30px; /* Moves the border 10px from the right */
    border-left: 2px solid #991b1b;
    height: 100px; /* Adjust height to include border */
}
