
  .card:hover .card-body{
    right:0;
}

.roboto-condensed-300{
    font-family: 'Roboto Condensed Variable', sans-serif;
    font-weight: 300;
}

.faustina-300{
        font-family: 'Faustina Variable', serif;
        font-weight: 300; 
}

.card:hover .poster{
    transform: scale(1.2);
  }

