/* .teamsbg {
    background-image: url("./background_style.png");
    background-color: white;
    background-size: cover;
} */
.fontfamily {
    font-family: 'Faustina Variable', sans-serif;
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
}

.teamCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%; /* Circular image */
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.1); /* scale up the image by 10% on hover */
}

@media (max-width: 768px) {
    .teamGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}
.teamGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
}

.teamCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%; /* Circular image */
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.1); /* scale up the image by 10% on hover */
}

@media (max-width: 768px) {
    .teamGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}
